*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

body, button, input {
  // font-size: 10px;
  font-size: 1rem;
}

.ajax-loader {
  display: none;
  z-index: 99;
  position: absolute;
}

p.choose-section {
  margin-bottom: 1rem;
}

p {
  line-height: 1.5rem;
  color: #fff;
}

img {
  height: auto;
  max-width: 100%;
}

a.entire-link {
  display: block;
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 420px;
  background-position: 50%;
  background-size: cover;
  // text-align: last;
  position: relative;
}

.story-meta {
  background: rgba(0,0,0,.6);
  bottom: 0;
  color: #fff;
  display: flex;
  font-size: 10px;
  font-size: 1rem;
  padding: .5rem;
  position: absolute;
  width: 100%;
}

header.site-header {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

.header-toggle {
    height: 67px;
    width: 67px;
    margin-right: 50px;
  }

.screen-reader {
  margin: -1px;
  overflow: hidden;
  border: 0;
  height: 1px;
}

body {
  background: black;
  color: #fff;
  font-size: $base-font-size;
  font-family: 'OpenSans', 'sans-serif';
  height: 100vh;
  display: block;
}

section.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1600px;
  width: 100%;
}

.stories li {
  position: relative;
}

.search-form-inner {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  padding-top: 15px;
}

.logo,
.search-form {
  display: block;
  width: 300px;
  height: auto;
  max-height: 600px;
}


img.ajax-loader {
  width: 50px;
  height: 50px;
  align-content: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.logo {
  height: auto;
  width: 150px;
  max-height: 600px;
}

.search-form-inner {
  font-size: 11px;
  font-size: 1.1rem;
}

form.search-form {
  display: flex;
  justify-content: center;
  width: 300px;
  font-size: 1.1rem;
}

.section-articles {
  display: flex;
  flex-flow: row wrap;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.6);
}

select {
  background-color: rgb(248, 248, 248);
  border-width: 1px;
  border-style: solid;
  border-color:$medium-grey;
  border-image: initial;
  border-radius: 5px;
  color: black;
  cursor: default;
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
}

.top-stories select {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  font-size: 1.1rem;
  // position: relative;
}

div.copyright p {
  color: $medium-grey;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 3rem;
  padding: 0 2rem;
}

  .logo-shift {
    height: auto;
    width: 67px;
  }

@media screen and (min-width: 600px) {
  a.entire-link {
    width: 50%;
    height: 60vh;
    flex-direction: row;
  }

  .nyt-article {
    width: 50%;
  }

  header.site-header {
    align-items: center;
    width: 100%;
    align-items: flex-start;
    flex: 1 0 auto;
    height: auto;
}
  

  .logo,
  .search-form {
    max-width: 250px;
    height: auto;
  }

  .logo {
    flex: 0 1 25%;
    margin: 0 1rem 0 0;
    text-align: left;
    height: auto;
    // position: absolute;
  }

  form.search-form {
    flex: 0 1 75%;
  }

  .logo,
  .search-form {
    max-width: 250px;
  }

  .search-form-inner {
    text-align: left;
    // left: 15rem;
  }

  header.site-header {
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
}

@media only screen and (min-device-width: 1000px) and (min-width: 1000px) {
  a.entire-link {
    width: 25%;
    height: 65vh;
  }

  header.site-header {
    justify-content: flex-start;
  }

  div.copyright p {
    text-align: left;
}
}