body {
    background: black;
  }
  
body {
  background: black;
  color: #fff;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  // height: 100vh;
  line-height: 1;
}

logo {
height: 50%;
max-width: 50%;
}

header {
  // align-items: flex-start;
  @import 'partials/variables';
  @import 'partials/mixins';
  
  // only import statements should be in here. 
  
  body {
      background: black;
      color: #fff;
      font-size: 16px;
      font-family: Open Sans, sans-serif;
      // height: 100vh;
      line-height: 1;
  }
  
  logo {
    height: 50%;
    max-width: 50%;
    margin-top: 200px;
  }
  
  header {
      // align-items: flex-start;
      flex: 1 0 auto;
      height: auto;
      max-width: 600px;
    }
  
    search-form {
      display: block;
      width: 300px;
    }
      
  footer {
      color: white;
  }
  .nyt-article {
    width: 33%;
    height: 300px;
  }
  
  .text-section {
  display: flex;
  align-items: flex-end;
  }
  
  @media only screen and (max-width: 600px) {
    // .section-articles {
    //     width: 33%;
    //     height: 60vh;
    // }
  }
      height: auto;
  max-width: 600px;
}

search-form {
  display: block;
  width: 300px;
}
  
footer {
  color: white;
  margin-top: 200px;
}
.nyt-article {
width: 33%;
height: 300px;
}

.text-section {
display: flex;
align-items: flex-end;
}

@media only screen and (max-width: 600px) {
// .section-articles {
//     width: 33%;
//     height: 60vh;
// }
}
